.tableDiv{
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.headerDrop{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    width: 98vw;
}

#aprroveReject{
    width: 15vw;
}

#aprroveRejectLabel{
    font-size: large;
}